<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.employeems.mapper.UserMapper">
    <select id="login" parameterType="map" resultType="org.employeems.entity.permissions.User">
        SELECT * FROM user WHERE username = #{username}
    </select>

    <insert id="regist" parameterType="org.employeems.entity.permissions.User">
        INSERT INTO user (username, password, employee_id, enabled, create_time, update_time)
        VALUES (#{username}, #{password}, #{employeeId}, #{enabled}, #{createTime}, #{updateTime})
    </insert>

    <select id="findByUsername" parameterType="String" resultType="org.employeems.entity.permissions.User">
        SELECT *
        FROM user
        WHERE username = #{username}
    </select>
</mapper>